*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    font-size: 90%;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}
header{
    vertical-align: top;
    height: 100px;
    width: 100%;
    background-color: rgb(189, 118, 189);
    border-bottom-style: solid;
    border-bottom-color: rgb(21, 72, 114);
    box-shadow: 0px 0px 30px rgb(21, 72, 114);
    border-bottom-width: 5px;
    }
.encabezado{
    width: 80%;
    height: 30px;
    margin: auto;
    border: 1px solid rgb(21, 72, 114);
}
.blog{
    width: 30%;
    height: auto;
    overflow: hidden;
    float: left;
    color:snow;
    font-size: 30px;

}
.menu{
    width: 60%;
    height: 40px;
    float: right;
    border: 1px solid snow;
}
lu li a{
    list-style-type: none; 
    margin-top: 10px; 
    padding: 10px; 
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
}
li a:hover{
    background-color:rgb(21, 72, 114);
    color: snow;
}

h1{
    text-align: center;
    font-family:"Gill Sans Extrabold", cursive;
    color:var(--gris);
    font-size: 12rem;
}
.grid{
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    padding: 2px;
    align-content:unset;
    background-color: rgb(160, 95, 160);
    height: 400px;
}
.grid >div{
    
    border: 1px solid;
    padding: 20px;
    text-align: center;
}
img{
    max-width: 100%;
}

/**utilidades**/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}


.navegacion_enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

.boton{
    display: block;
    font-family: var(--fuenteheading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}
.footer{
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}
/**sobre nosotros**/
.cursos{
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}
@media (min-width: 768px){
    .cursos{
        display: grid;
        grid-template-columns: 33.3% 66.7%;
        column-gap: 2rem;
    }
}
.cursos:last-of-type{
    border: none;
}
.contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.formulario{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 90%;
    padding: 5rem;
}

